
.tenant-header[data-v-79ff246b] { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
}
.danger-text[data-v-79ff246b] { color: #f56c6c;
}

